@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

:root {
    --primary-color: #d90000;
    --secondry-color: #002765;
    --dark-color: #515151;
    --text-white: #fff;
    --hover-primary: #f41f1f;
    --hover-secondry: #053f9e;

    /* Font Family */
    --primary-font: 'Fira Sans', sans-serif;
}

body,
html {
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    background-color: #f4f4f4;
}
body.active{
    overflow-y: hidden;
}
a,
a:active,
a:hover,
a:focus,
button {
    text-decoration: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(#fff);
}

::-webkit-scrollbar-thumb {
    background-color: #0000007a;
}

.container {
    max-width: 100%;
    padding: 0 5%;
}

.trending-section,
.Sports-section,
.banner-section,
.politics-section,
.entertainment-section {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
}

.news-logo h3 {
    font-weight: 900;
    margin-bottom: 0;
}

.footer-section .news-logo h3 {
    font-size: 27px;
}

.upper-header-section {
    width: 100%;
    padding: 20px 0;
    background: url(../img/back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trending-news .breaking-news {
    border-radius: 20px;
}

.trending-news .news {
    width: 160px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.trending-news .news {
    background-color: #00a650;
}

.trending-news .news-scroll a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
}

.trending-news .news-scroll a:hover {
    color: black;
}

.trending-news .dot {
    height: 6px;
    width: 6px;
    margin-left: 30px;
    margin-right: 5px;
    background-color: var(--secondry-color);
    border-radius: 50%;
    display: inline-block
}

.upper-header-section .contact-email a {
    color: var(--text-white);
}

.upper-header-section .contact-email a:hover {
    color: rgb(179, 176, 176);
}

.footer-section .social-connect {
    width: 80%;
}

.social-connect {
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 4px 0px;
    border-radius: 50px;
}

.social-connect h6::after {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding-left: 8px;
}

.social-connect .social-network {
    display: flex;
}

.social-connect .social-network li {
    margin: 0 13px;
}

.social-connect .social-network li a {
    color: var(--dark-color);
}

.social-connect .social-network li a:hover {
    color: var(--hover-primary);
    transition: all 0.1s ease-out;
}

.header-scrolled {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    width: 100%;
    margin: auto;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-scrolled .navbar {
    width: 100%;
    background-color: #ff5722;
}

.header-scrolled .navbar ul {
    width: 93%;
    overflow: auto;
}

.navbar .show {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.navbar .show ul li {
    text-align: center;
    width: 100%;
}

.header-scrolled .navbar ul::-webkit-scrollbar {
    height: 3px;
    background: #ff5722;
}

.header-scrolled .navbar ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.311);
}

.header-scrolled .navbar-toggler {
    border: 0;
    line-height: 2;
}

.header-scrolled .navbar-toggler:focus {
    box-shadow: none;
}

.header-scrolled .navbar .nav-item a {
    font-size: 18px;
    color: white;
    margin: 10px;
}

.header-scrolled .navbar .nav-item a:hover,
.header-scrolled .navbar .nav-item a.active {
    color: #00a650;
}

.navbar-section .navbar .button-search {
    display: flex;
    align-items: center;
}

.navbar-section .navbar .search i {
    color: white;
    cursor: pointer;
}

.banner-section .banner-left-news ul li {
    padding: 10px 0;
    border-bottom: 1px dotted #bababa;
}

.banner-section .banner-left-news ul li:last-child {
    border-bottom: none;
}

.banner-left-news ul li a {
    color: var(--dark-color);
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 8px;
}

.banner-section .banner-left-news ul li a:last-child {
    margin-bottom: 0;
}

.banner-section .banner-left-news ul li a:hover {
    color: var(--hover-primary);
}

.banner-section .card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 21px;
}

.card .card-body {
    padding: 10px;
}

.parent-card {
    gap: 15px;
}

.small-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    background-clip: border-box;
    margin-bottom: 10px;
    border: none;
}

.card-body,
.mycard-body p {
    color: var(--dark-color);
    font-weight: 500;
}

.card-body p:hover,
.mycard-body p:hover {
    color: var(--hover-primary);
}

.cards-section .card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cards-section .card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.news-plus-section .swiper {
    width: 100%;
    height: 100%;
}

.news-plus-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-plus-section .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Footer section start*/
.footer-section {
    width: 100%;
    background-color: #ff5722;
}

.footer-section h4 {
    color: white;
}

.footer-section .link-widget li {
    margin: 5px 0;
}

.footer-section .link-widget li a {
    color: var(--text-white);
    margin: 5px 0;
    transition: all 0.2s ease-out;
}

.footer-section .link-widget li a::before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding-right: 5px;
}

.footer-section .link-widget li a:hover {
    color: var(--hover-primary);
    margin-left: 5px;
}

.footer_wrapper .copyright-section {
    background-color: #00a650;
}

.footer_wrapper .copyright-section p,
.footer_wrapper .copyright-section a {
    color: var(--text-white);
}

.footer_wrapper .copyright-section a:hover {
    color: var(--hover-secondry);
}