@media (min-width: 1300px) {
    .none-card {
        display: none;
    }
}

@media (min-width: 1200px) {
    .small-none-card {
        display: none;
    }
}

@media (max-width: 1200px) {
    .social-connect .social-network li {
        margin: 0 7px;
    }
}

@media (max-width: 993px) {
    .social-connect .social-network li {
        margin: 0 13px;
    }
    .trending-news .news{
        width: 205px;
        border-radius:0;
    }
    .trending-news .news span{
        margin-left: 13%;
    }
    .footer-section .social-connect{
        width: 50%;
    }
}

@media (max-width: 768px){
    .small-none-card{
        display: none;
    }
    .footer-section .social-connect{
        width: 70%;
    }
}
@media (max-width: 575px){
    .header-scrolled .navbar {
        background: url(./img/back.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .footer-section .social-connect{
        width: 100%;
    }
}

@media (max-width: 430px){
    .trending-news .news{
        width: 180px;
    }
    .trending-news .news span{
        font-size: 15px;
    }
    .footer-section .social-connect{
        width: 100%;
    }
    .footer-section .social-connect h6{
        font-size: 14px;
        margin-bottom: 0;
    }
    .footer-section .social-connect ul li{
        margin: 0 9px;
    }
    .footer-section .social-connect ul li a{
        font-size: 14px;
    }
}

@media (max-width: 320px){
    .trending-news .news span{
        font-size: 14px;
    }
}